<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Events Page</title>
	<style>
		#log_out{
			display: inline;
			vertical-align: top
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-8"></div>
			<div class="col-sm-3">
				<% if current_user %>
				<a href="/users/<%= current_user.id %>">Edit my profile</a>
				<span>|</span>
			    <form id="log_out" action='/sessions' method='post'>
				    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
				    <input type='hidden' name='_method' value='delete'>
			    	<input class="btn btn-danger" type='submit' value='Log Out'>
				</form>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h3>Welcome, <%= current_user.first_name %>!</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<h6>Here are some of the events at your homestate(<%= current_user.state %>): </h6>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Location</th>
							<th>Host</th>
							<th>Action/Status</th>
						</tr>
					</thead>
					<tbody>
						<% @events.each do |event| %>
						<tr><% if event.state == current_user.state %>
							<td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
							<td><%= event.timing.strftime("%m/%d/%Y") %></td>
							<td><%= event.location %></td>
							<td><%= event.user.first_name %></td>
							<% if event.user.id == current_user.id %>
								<td>
									<form action="/events/<%= event.id %>" method="post">
										<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
										<input type="hidden" name="_method" value="delete">
										<input type="hidden" name="events[id]" value="<%= event.id %>">
										<input type="submit" class="btn btn-danger" value="Delete">
									</form>
								</td>
							<% end %>
							<% if event.user.id != current_user.id %>
								<% need_joinn = true %>
								<% @joins.each do |join| %>
									<% if join.event_id == event.id %>
										<% need_joinn = false %>
											<td>
												<form action="/joins/<%= event.id %>" method="post">
													<input type="hidden" name="_method" value="delete">
													<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
													<input type="hidden" name="events[id]" value="<%= event.id %>">
													<input type="submit" class="btn btn-link" value="Cancel">
												</form>
											</td>
									<% end %>
								<% end %>
								<% if need_joinn %>
									<td>
										<form action="/joins/<%= event.id %>" method="post">
											<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
											<input type="hidden" name="events[id]" value="<%= event.id %>">
											<input type="submit" class="btn btn-link" value="Join">
										</form>
									</td>
								<% end %>
							<% end %>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-10">
				<h6>Here are some of the events in other states: </h6>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date</th>
							<th>Location</th>
							<th>Host</th>
							<th>Action/Status</th>
						</tr>
					</thead>
					<tbody>
						<% @events.each do |event| %>
						<% if event.state != current_user.state %>
						<tr>
							<td><a href="/events/<%= event.id %>"><%= event.name %></a></td>
							<td><%= event.timing.strftime("%m/%d/%Y") %></td>
							<td><%= event.location %></td>
							<td><%= event.user.first_name %></td>
							<% if event.user.id == current_user.id %>
							<td>
								<form action="/events/<%= event.id %>" method="post">
									<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
									<input type="hidden" name="_method" value="delete">
									<input type="hidden" name="events[id]" value="<%= event.id %>">
									<input type="submit" class="btn btn-danger" value="Delete">
								</form>
							</td>
							<% end %>

							<% if event.user.id != current_user.id %>
								<% need_join = true %>
								<% @joins.each do |join| %>
									<% if join.event_id == event.id %>
										<% need_join = false %>
										<td>
											<form action="/joins/<%= event.id %>" method="post">
												<input type="hidden" name="_method" value="delete">
												<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
												<input type="hidden" name="events[id]" value="<%= event.id %>">
												<input type="submit" class="btn btn-link" value="Cancel">
											</form>
										</td>
									<% end %>
								<% end %>
									<% if need_join %>
										<td>
											<form action="/joins/<%= event.id %>" method="post">
												<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
												<input type="hidden" name="events[id]" value="<%= event.id %>">
												<input type="submit" class="btn btn-link" value="Join">
											</form>
										</td>
									<% end %>
							<% end %>
						</tr>
						<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h3>Add a new event!</h3>
				<form action="/events" method="post">
					<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
					<input type="hidden" name="id" value="<%=current_user.id%>">
					<label for="Name">Name: </label>
					<input class="form-control" type="text" name="events[name]">
					<label for="Timing">Date: </label>
					<input class="form-control" type="date" name="events[timing]">
					<label for="Location">City location & </label>
					<input class="form-control" type="text" name="events[location]">
					<label for="State">event's state</label>
					<select class="form-control" name="events[state]">
						<option value="WA">WA</option>
						<option value="AZ">AZ</option>
						<option value="CA">CA</option>
					</select><br>
					<input class="btn btn-primary" type="submit" value="Add Event">
				</form>
			</div>
		</div>
	</div>
</body>
</html>